<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_communications">
                        <resource id="Albedo_NewsletterApi::read" title="Newsletter API Endpoint (read)"/>
                        <resource id="Albedo_NewsletterApi::write" title="Newsletter API Endpoint (write)"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>